{% extends "base.html" %} 

{% block title %}Sign Up | FarmLand{% endblock title %}

{% load crispy_forms_tags %} 

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white text-center">
          <h4>Create Your Account</h4>
        </div>
        <div class="card-body">
          <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success w-100">Sign Up</button>
          </form>
          <hr />
          <p class="text-center mt-3">
            Already have an account? <a href="/login" class="text-success">Log in here</a>!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
